section {
    width: 60%;
    height: 70vh;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
}
.sum-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

}
.sum-from{
    display: flex;
    flex-direction: column;
}
.sum-from *{
    font-size: 1.4rem;
    border: 2px solid black;
    border-radius: .5rem;
    padding: .3rem;
    font-family: "shabnam";
    margin: .3rem;
}
html{
    --ferst-color:purple;
    scroll-behavior: smooth;
}
.button{
    display: inline-block;
    background-color: var(--ferst-color);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: .5rem 1.2rem;
    text-decoration: none;
}
.button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0,.4);
}
.button:active{
    transform: translateX(20px);
}
h1{
    font-family: shabnam; 
    text-align: right;  
    font-size: 3rem;
    line-height: 1.7;
    font-weight: 400;
}
.section-title{
    font-size: 2rem;
    color: var(--ferst-color);
    border-bottom: 2px solid var(--ferst-color);
    display: flex;
    justify-content: space-between;
}
span{
    display: flex;
}